{% extends "base.html" %}
{% block title %}Ejercicio 2 — Inicio de Sesión{% endblock %}

{% block content %}
  <h2 class="title">Ejercicio 2: Inicio de Sesión</h2>

  {% if error %}
    <div class="alert error">{{ error }}</div>
  {% endif %}

  {% if resultado %}
    <div class="alert ok">{{ resultado }}</div>
  {% endif %}

  <form method="post" class="form">

    <label>Usuario:
      <input type="text" name="usuario" required value="{{ valores.usuario }}">
    </label>

    <label>Contraseña:
      <input type="password" name="clave" required value="{{ valores.clave }}">
    </label>

    <button type="submit" class="btn fill">Ingresar</button>
    <a href="{{ url_for('index') }}" class="btn link">Volver al Menú</a>
  </form>
{% endblock %}
